.table {
  width: 100%;
  max-width: 300px;
  margin-right: 150px;
}

.table:last-child {
  margin-right: 0;
}

.item-numerable {
  padding-right: 8px;
  width: 30px;
}

.item-count {
  white-space: nowrap;
  width: 1px;
}


.type-top {
  color: var(--success-color);
}

.type-antiTop {
  color: var(--danger-color);
}